*{
    margin: 0;
    padding: 0;
    font-family:"Poppins",sans-serif;
    box-sizing: border-box;
}


body{
    background-color: black;
    color: white;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./header-image.png");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative ;
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:10px 0px;
}


.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 6%;
}

.lang-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid grey;
    padding: 7px 10px ;
}

.lang-btn img{
    width: 10px;
    margin-left: 10px;
}

.header-content{
    margin-top: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.h1-heading{
    font-size: 42px;
    font-weight: 800;
       
}

.header-content .para{
   font-size: 24px;
   font-weight: 200;
   margin: 20px;
   
}

.header-content .para2{
    
    font-size: 21px;
    margin: 5px;

}

.header-content input{
    margin-top: 10px;
    background: transparent;
    width: 340px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 4px;  
    padding-left: 20px;
    color: white;
    margin-right:5px;
}


.header-content button{

    width: 213px;
    height: 50px;
    border-radius: 4px;  
     background: #db0001;
     border: none;
     color: white;
     font-size: 18px;
     font-weight: 700;
     box-sizing: border-box;
     cursor: pointer;
}




.features{
    padding: 50px 12%;
    font-size: 24px;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 50px,0;
}

.text-container{
    flex-basis: 50%;
    margin-bottom: 20px;
}


.image-container{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.image-container img{
    display: block;
    width: 90%;
    margin: auto;
}


.features h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}



/* Faq seaction */

.faq{
    padding: 20px 50px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
   
}

.bandage{

    margin: 2% 9% 2% 9%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}



.faq p{
    font-size: 24px;
    font-weight: normal;
    display: flex;
    justify-content:space-between;
    padding: 27px 0 2px 25px;
   background-color: rgba(45, 45, 45);
   height:84px;
}


.faq span{
    /* border: 2px solid white; */
    font-size: 45px;
    padding-right: 35px;
   

}


.inner-content {

    margin-bottom: 10px;
}



